<p>student-list works!</p>
<div>
  <label for="rollNumber">Enter Roll Number:</label>
  <input type="text" id="rollNumber" />
  <button (click)="fetchStudentDetails()">Submit</button>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Roll No</th>
      <th>Name</th>
      <th>Address</th>
      <th>Country</th>
      <th>Year</th>
    </tr>
  </thead>
  <!-- <tbody>
    <tr *ngFor="let student of students">
      <td><input type="checkbox" [(ngModel)]="student.selected"></td>
      <td>{{ student.rollNo }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.address }}</td>
      <td>
        <select [(ngModel)]="student.country">
          <option value="USA">USA</option>
          <option value="Canada">Canada</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="student.year">
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>
      </td>
    </tr>
  </tbody> -->
</table>
